<style type="text/css">
	.my-table-border {
		border: 1px solid black;
	}
	.search-button {
		margin-top: 25px;
	}
	.active{
		 background-color: yellow !important;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">	
			<div class="card">
				<h1>{{::myname}}</h1>

				<button ng-click="changeName()"></button>
				<!-- serach section -->
				<form>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
							    <label for="exampleSelect1">Record per page:</label>
							    <select class="form-control" id="exampleSelect1" ng-model="selectedPerPage">
							      <option value="1">1</option>
							      <option value="2">2</option>
							      <option value="3">3</option>
							      <option value="4">4</option>
							      <option value="5">5</option>
							      <option value="6">6</option>
							    </select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
							    <label for="exampleSelect1">Salary greater than:</label>
							    <select class="form-control" id="exampleSelect1" ng-model="selectedSalary">
							      <option value="10000">10000</option>
							      <option value="15000">15000</option>
							      <option value="20000">20000</option>
							      <option value="25000">25000</option>
							    </select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
							    <label for="exampleSelect1">Search By:</label>
							    <select class="form-control" id="exampleSelect1" ng-model="selectedArea">
							      <option value="name">Name</option>
							      <option value="company">Company</option>
							      <option value="city">City</option>
							      <option value="designation">Designation</option>
							      <option value="experience">Experience</option>
							      <option value="salary">Salary</option>
							    </select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="input-group add-on search-button">
						      <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text" ng-model="searchData[selectedArea]">
						      <div class="input-group-btn">
						        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						      </div>
						    </div>
						</div>
					</div>
				</form>
				<!-- serach section -->

				<!-- data table section -->
		       	<table class="table table-responsiv table-hover my-table-border">
					<tr>
						<th ng-class="selectedArea=='name'? 'active':''">Name</th>
						<th ng-class="selectedArea=='company'? 'active':''">Company</th>
						<th ng-class="selectedArea=='city'? 'active':''">City</th>
						<th ng-class="selectedArea=='designation'? 'active':''">Designation</th>
						<th ng-class="selectedArea=='experience'? 'active':''">Experience</th>
						<th ng-class="selectedArea=='salary'? 'active':''">Salary</th>
					</tr>
		       		<tbody>
		       			<tr ng-repeat="engineer in tableData | filter: searchData | limitTo: selectedPerPage | salaryGreaterThan : selectedSalary">
				       		<td>{{engineer.name}}</td>
				       		<td>{{engineer.company}}</td>
				       		<td>{{engineer.city}}</td>
				       		<td>{{engineer.designation}}</td>
				       		<td>{{engineer.experience}}</td>
				       		<td>{{engineer.salary}}</td>
		       			</tr>
		       		</tbody>
		       </table>
			</div>
		</div>
	</div>
</div>

